<div class="d-flex flex-column align-items-center mt-5">
        <img width="400" 
             src="https://i.kym-cdn.com/entries/icons/original/000/002/144/You_Shall_Not_Pass!_0-1_screenshot.jpg" 
             alt="YOU SHALL NOT PASS!"/>
        <p>You'll have to log in!</p>
        <a href="/login" class="btn btn-primary">Go to Login</a>
    </div>