<EditForm Model=@User OnValidSubmit=@OnValidSubmit
          OnInvalidSubmit=@OnInvalidSubmit>
    <DataAnnotationsValidator/>
    <ValidationSummary class="alert alert-warning"/>
    <div class="form-group">
        <label for="Username">Username</label>
        <InputText @bind-Value="User.Username" class="form-control" id="Username"/>
        <!-- Display specific error message -->
        <ValidationMessage For="@(() => User.Username)"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
</EditForm>


@code {
    [Parameter] public UpdateUsernameDTO User { get; set; }
    
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    [Parameter] public EventCallback OnInvalidSubmit { get; set; }
}