@page "/users"
@using ApiContracts_DTOs
@using BlazorClient.Services
@attribute [StreamRendering]
@inject IUserService UserService

<PageTitle>Users</PageTitle>

<h1>Users</h1>
<a href="/CreateUser" class="btn btn-dark mb-3"> Create New User</a>

@if (users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in users)
        {
            <UserListItem User="user"/>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<UserDTO>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync(null, null);
    }

}