@page "/posts/new"
@using System.Security.Claims
@inject IPostService PostService
@inject AuthenticationStateProvider AuthStateProvider
<h3>Create Post</h3>

<AuthorizeView>
    <Authorized>

        @if (!string.IsNullOrEmpty(LastSubmitResult))
        {
            <h2 class="alert @(IsSucces ? "alert-success" : "alert-danger")">
                @LastSubmitResult
            </h2>
        }
        <PostForm Post="Post"
                  OnValidSubmit="ValidFormSubmitted"
                  OnInvalidSubmit="InvalidFormSubmitted"/>

    </Authorized>
    <NotAuthorized>
        <NotAuthorizedContent/>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    CreatePostDTO Post = new CreatePostDTO
    {
        Title = null,
        Body = null,
        UserId = null
    };

    string LastSubmitResult;
    bool IsSucces;
    PostDTO? CreatedPost;

    async Task ValidFormSubmitted()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;

        if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            LastSubmitResult = "You must be logged in to create a post.";
            IsSucces = false;
            return;
        }

        Post.UserId = int.Parse(claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier)!.Value);

        LastSubmitResult = "Submitting post...";
        IsSucces = false;
        try
        {
            CreatedPost = await PostService.CreatePostAsync(Post);

            LastSubmitResult = $"Success! Post created with ID: {CreatedPost.Id}.";
            IsSucces = true;

            Post = new CreatePostDTO // reset
            {
                Title = null,
                Body = null,
                UserId = null
            };
        }
        catch (Exception e)
        {
            LastSubmitResult = $"Server Error: {e.Message}";
            IsSucces = false;
        }
    }

    void InvalidFormSubmitted()
    {
        LastSubmitResult = "Failure! Please correct the highlighted errors.";
        IsSucces = false;
    }

}