@using System.Security.Claims
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div
            class="top-row px-4 d-flex justify-content-between align-items-center">
            <AuthorizeView>
                <Authorized>
                    <span>Hello, <a
                            href="/users/@(userId)">@context.User.Identity?.Name</a></span>
                    <button class="btn btn-dark"
                            @onclick="async () => await LogOut()">
                        Log out
                    </button>
                </Authorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    private int userId;

    AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;

        if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            return;
        }

        userId = int.Parse(claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier)!.Value);
    }

    private async Task LogOut()
    {
        await ((SimpleAuthProvider)AuthProvider).Logout();
        NavManager.NavigateTo("/login");

    }

}
